@heading-font: 'Lustria', serif;
@logo-color: rgba(255, 0, 0, 0.78);
@body-font: 'Exo 2', sans-serif;
@primary-color: rgba(22, 80, 4, 0.87);
@link-color: rgba(240, 71, 71, 1);
@secondary-link-color: #004466;

.circle (@radius: 50%, @width: 120px, @height: 120px, @border: 6px solid #eee) {
	width: @width;
	height: @height;
	border-radius: @radius;
	border: @border;
}

.center () {
	text-align: center !important;
	margin: 0px auto !important;
}

.circle:hover{
	.rotate-animate;
}

i.logo-icon{
	color: @logo-color;
}

h1,h2,h3,h4,h5,h6{
	font-family: @heading-font;
	color: darken(black, 80%);
	text-shadow: 1px 0px 0px #444;
	a{
		color: @secondary-link-color;
		text-shadow: 1px 0px 0px @secondary-link-color;
	}
	a:hover{
		color: @secondary-link-color;
	}
}

.post-info{
	i{
		padding-right: 5px;
	}
	span{
		padding-right: 15px;
	}
	*{
		font-size: 105%;
	}
}


.center{
	.center();
}

.big-para{
	font-size: 110%;
}

body{
	font-family: @body-font;
	padding-top: 25px;
}

.circle{
	.circle();
	.center();
	i{
		font-size: 4em;
		padding-top: 25%;
		color: @logo-color;
	}
}

.extra-padding{
	padding-top: 10%;
}

.medium-size > *{
	font-size: 125%;
}

.huge-size{
	font-size: 250%;
}

a{
	color: @link-color;
}

a:hover{
	color: @link-color;
	text-decoration: underline;
}

.social-icons{
	a, i{
		color: #004466;
	}

	a:hover, i:hover{
		color: lighten(#004466, 10%);
	}
}

.social-icons{
	padding-bottom: 20px;
}

.footer-icon{
	color: #D1D1D1;
	text-shadow: 2px 2px 4px #999;
}

@media only screen and (max-width: 479px) {
	.extra-padding{
		padding-top: 20%;
	}
	.sub-main{
		p{
			line-height: 1.4 !important;
		}
	}
}

.sub-main{
	p{
		line-height: 0.7;
	}
}

.secondary-link{
	color: @secondary-link-color;
	a{
		color: @secondary-link-color;
	}
}

.no-border{
	border: none;
}

.panel{
	transition: box-shadow 0.5s;
	-webkit-transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s;
	-ms-transition: box-shadow 0.5s;
	background-color: rgba(238, 238, 238, 0.3) !important;
}

.panel:hover{
	box-shadow: 0px 0px 40px #999;
	-webkit-box-shadow: 0px 0px 40px #999;
	-moz-box-shadow: 0px 0px 40px #999;
	a{
		text-decoration: underline;
	}
}

pre{
	overflow-x: auto;
	padding: 1px;
	border-radius: 5px;
	line-height: 1.5;
}

code{
	background: #eee;
	color: #004466;
	padding: 5px;
	font-size: 95%;
}

.rotate-animate{
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}


/* desert scheme ported from vim to google prettify */

pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
