.circle:hover {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
i.logo-icon {
  color: rgba(255, 0, 0, 0.78);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lustria', serif;
  color: #000000;
  text-shadow: 1px 0px 0px #444;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #004466;
  text-shadow: 1px 0px 0px #004466;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #004466;
}
.post-info i:not(:first-child) {
  padding-left: 15px;
}
.post-info span {
  padding-left: 3px;
}
.post-info * {
  font-size: 105%;
}
.center {
  text-align: center !important;
  margin: 0px auto !important;
}
.big-para {
  font-size: 110%;
}
body {
  font-family: 'Exo 2', sans-serif;
  padding-top: 25px;
}
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 6px solid #eeeeee;
  text-align: center !important;
  margin: 0px auto !important;
}
.circle i {
  font-size: 4em;
  padding-top: 25%;
  color: rgba(255, 0, 0, 0.78);
}
.extra-padding {
  padding-top: 10%;
}
.medium-size > * {
  font-size: 125%;
}
.huge-size {
  font-size: 250%;
}
a {
  color: #f04747;
}
a:hover {
  color: #f04747;
  text-decoration: underline;
}
.social-icons a,
.social-icons i {
  color: #004466;
}
.social-icons a:hover,
.social-icons i:hover {
  color: #006699;
}
.social-icons {
  padding-bottom: 20px;
}
.footer-icon {
  color: #D1D1D1;
  text-shadow: 2px 2px 4px #999;
}
@media only screen and (max-width: 479px) {
  .extra-padding {
    padding-top: 20%;
  }
  .sub-main p {
    line-height: 1.4 !important;
  }
}
.sub-main p {
  line-height: 0.7;
}
.secondary-link {
  color: #004466;
}
.secondary-link a {
  color: #004466;
}
.no-border {
  border: none;
}
.panel {
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  background-color: rgba(238, 238, 238, 0.3) !important;
}
.panel:hover {
  box-shadow: 0px 0px 40px #999;
  -webkit-box-shadow: 0px 0px 40px #999;
  -moz-box-shadow: 0px 0px 40px #999;
}
.panel:hover a {
  text-decoration: underline;
}
pre {
  overflow-x: auto;
  padding: 1px;
  border-radius: 5px;
  line-height: 1.5;
}
code {
  background-color: #eee;
  color: #004466;
  padding: 5px;
  font-size: 95%;
}
pre code {
  background-color: #fff;
  padding: 0px;
  font-size: 100%;
}
.tags h1,
.tags h2,
.tags h3,
.tags h4,
.tags h5,
.tags h6 {
  color: #f04747;
}
.tags h1 a,
.tags h2 a,
.tags h3 a,
.tags h4 a,
.tags h5 a,
.tags h6 a {
  color: #f04747;
  text-shadow: none;
}
.rotate-animate {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333;
}
pre .nocode {
  background-color: none;
  color: #000000;
}
pre .str {
  color: #ffa0a0;
}
/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
pre .com {
  color: #87ceeb;
}
/* comment - skyblue */
pre .typ {
  color: #98fb98;
}
/* type    - lightgreen */
pre .lit {
  color: #cd5c5c;
}
/* literal - darkred */
pre .pun {
  color: #ffffff;
}
/* punctuation */
pre .pln {
  color: #ffffff;
}
/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0;
}
/* attribute value - pink */
pre .dec {
  color: #98fb98;
}
/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str,
  code .str {
    color: #006600;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #004444;
  }
  pre .pun,
  code .pun {
    color: #444400;
  }
  pre .pln,
  code .pln {
    color: #000000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #440044;
  }
  pre .atv,
  code .atv {
    color: #006600;
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
