<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="{% if tagged %}Tagged, {{ tagged.tag | capitalize }}{% else %}{{ page.keywords }}{% endif %}">
	<meta name="author" content="{{ page.author }}">
	<title>
		Swaroop SM | 
		{% if page.label %}
			{{ page.label }}
		{% else %}
			{% if tagged.tag %}
				Posts Tagged In {{ tagged.tag | capitalize }}
			{% else %}
				{{ page.title }}
			{% endif %}
		{% endif %}</title>
	<link href='http://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/foundation.min.css">
	<link rel="stylesheet" href="/assets/css/ionicons.min.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
	<link rel="shortcut icon" href="{{ site.images.favicon.url }}" type="image/x-icon" />
</head>
