<footer class="text-center text-gray-20 pt-24 pb-4 text-sm px-6">
  <code>&copy; 2020 / <a href="/">www.swaroopsm.com</a> / built with ♥️  using <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">11ty</a></code>
</footer>
