<header class="px-6">
  <div class="container pt-16 lg:pt-24 flex items-center justify-center">
    <a href="/" class="inline-block border-black hover:border-b-2">
      <div class="flex items-center">
        <img src="/assets/images/avatar.jpg" alt="Photo of Swaroop Sethumadhavan" class="w-16 rounded-full inline" />
        <span class="text-3xl lg:text-4xl font-bold ml-1">
          /swaroop
        </span>
      </div>
    </a>
  </div>
  <nav class="flex items-center justify-center mt-6">
    <ul class="flex space-x-6 lg:text-xl">
      <li><a  href="mailto:{{site.mail}}">/mail</a></li>
      <li><a href="{{site.github}}" target="_blank" rel="noopener noreferrer">/github</a></li>
      <li><a href="{{site.twitter}}" target="_blank" rel="noopener noreferrer">/twitter</a></li>
    </ul>
  </nav>
</header>
