{% include header %}
<body onload="prettyPrint();">
 
  <div class="row">
    <div class="large-12 columns">
 
		{% include logo %}

		<div class="large-5 small-3 columns">
			<hr>
		</div>
		<div class="large-2 small-6 column center">
			By {{ page.author }}
		</div>
		<div class="large-5 small-3 columns">
			<hr>
		</div>


   </div>
  </div><br>

	<div class="row">
		<div class="large-12 columns">
			<p class="post-info hide-for-small">
				<i class="ion-calendar"></i> <span>{{ page.date | date: "%B %d, %Y" }}</span>
				<i class="ion-pricetag"></i> 
				<span>
					{% for tag in page.tags %}
					<a href="{{ tag.url }}">{{ tag.name | downcase }}</a>{% unless forloop.last %}, {% endunless %}
					{% endfor %}
				</span>
				<i class="ion-bookmark"></i> <span><a href="{{ site.links.tagged }}">tags filter</a></span>
				<i class="ion-social-twitter"></i>
				<span>
					{% tweetshare %}
				</span>
			</p>
			<div>
				{{ page.content }}
			</div>
		</div>
	</div>
 
    <!-- Footer -->
 
  	<br>
  	<br>
  	<br>
  	
{% include footer %}
<script src="/assets/js/prettify.min.js" type="text/javascript"></script>
</body>
</html>
