<footer class="row">
	<div class="large-5 small-5 columns">
		<hr>
	</div>
	<div class="large-2 small-2 column center">
		<i class="ion-ios7-location huge-size footer-icon"></i>
	</div>
	<div class="large-5 small-5 columns">
		<hr>
	</div>
	<div class="large-12 medium-12 small-12 columns center">
		<br>
		Copyright &copy; 2014. Built using <a href="http://github.com/swaroopsm/striker">Striker</a>. Icons by <a href="http://ionicons.com">Ionicons</a>
		<br><br>
	</div>

{% if page.category == "blog" %}
	{% include disqus %}
{% endif %}
{% include ga %}		
</footer>
